.logo-img {
  height: 40px;
}
.dropdown-item {
  transition: 0.3s;
}
.dropdown-item:hover {
  background-color: #c1c1c1;
}
.z-pozition {
  z-index: 2000;
}
.sketchy-link-other {
  color: darksalmon;
}
